@model OnJobEntity.JobSeeker.User
@{
    ViewBag.Title = "company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Search Result
                </h1>
                <p class="text-white link-nav"><a href="">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="">Top Companies</a></p>
            </div>
        </div>
    </div>
</section>
<section class="post-area section-gap">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.lstcompany)
            {
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="company-item-list text-center">
                        <a href="javascript:void(0)" data-com_id="@item.id" data-id="com_details" id="com_details"><img src="https://codeglamour.com/php/onjob/uploads/company_logos/default.png" alt="company-img" /></a>
                        
                        <br />
                        <br />
                        <label>@item.Company_name</label>
                    </div>

                </div>
           }
        </div>
</section>

<script>
    $(document).ready(function () {

        $(document).on('click', '#com_details', function () {
            var Id = $(this).data('com_id');
            window.location.href = "@Url.Action("CompanyDetails", "Company", new {id = "Id"})".replace("Id", Id);
            //window.location.href = "@Url.Action("CompanyDetails", "Company")";
        });
    });
</script>