<div class="single-slidebar">
    <h4>Jobs by Cities</h4>
    <ul class="cat-list">
        <li><a class="justify-content-between d-flex" href="../jobs/location/gujrat"><p>Gujrat</p><span>2</span></a></li>
        <li><a class="justify-content-between d-flex" href="../jobs/location/lahore"><p>Lahore</p><span>1</span></a></li>
        <li><a class="justify-content-between d-flex" href="../jobs/location/alta-loma"><p>Alta Loma</p><span>1</span></a></li>
    </ul>
</div>