<div class="single-slidebar">
    <h4>Top rated job posts</h4>
    <div class="active-relatedjob-carusel">
        <div class="single-rated">
            <img class="img-fluid" src="https://codeglamour.com/php/onjob/assets/img/r1.jpg" alt="">
            <a href="https://codeglamour.com/php/onjob/jobs/28/test-job-job-in-portdepaix"><h4>test job</h4></a>
            <h6>Test</h6>
            <p>
                and jumping in water over and over.&nbsp;
            </p>
            <p class="address"><span class="lnr lnr-apartment"></span> Advertising</h5>
            <p class="address"><span class="lnr lnr-map-marker"></span>  Port-de-Paix, Haiti</p>
            <p class="address"><span class="lnr lnr-clock"></span> 1 month ago</p>
            <a href="https://codeglamour.com/php/onjob/jobs/28/test-job-job-in-portdepaix" class="btns text-uppercase">Apply job</a>
        </div>
        <div class="single-rated">
            <img class="img-fluid" src="https://codeglamour.com/php/onjob/assets/img/r1.jpg" alt="">
            <a href="https://codeglamour.com/php/onjob/jobs/28/test-job-job-in-portdepaix"><h4>test job</h4></a>
            <h6>Test</h6>
            <p>
                and jumping in water over and over.&nbsp;
            </p>
            <p class="address"><span class="lnr lnr-apartment"></span> Advertising</h5>
            <p class="address"><span class="lnr lnr-map-marker"></span>  Port-de-Paix, Haiti</p>
            <p class="address"><span class="lnr lnr-clock"></span> 1 month ago</p>
            <a href="https://codeglamour.com/php/onjob/jobs/28/test-job-job-in-portdepaix" class="btns text-uppercase">Apply job</a>
        </div>
        <div class="single-rated">
            <img class="img-fluid" src="https://codeglamour.com/php/onjob/assets/img/r1.jpg" alt="">
            <a href="https://codeglamour.com/php/onjob/jobs/28/test-job-job-in-portdepaix"><h4>test job</h4></a>
            <h6>Test</h6>
            <p>
                and jumping in water over and over.&nbsp;
            </p>
            <p class="address"><span class="lnr lnr-apartment"></span> Advertising</h5>
            <p class="address"><span class="lnr lnr-map-marker"></span>  Port-de-Paix, Haiti</p>
            <p class="address"><span class="lnr lnr-clock"></span> 1 month ago</p>
            <a href="https://codeglamour.com/php/onjob/jobs/28/test-job-job-in-portdepaix" class="btns text-uppercase">Apply job</a>
        </div>
    </div>
</div>