@model OnJobEntity.JobSeeker.User
@{
    ViewBag.Title = "Job_by_category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                  Job By Category
                </h1>
                <p class="text-white link-nav"><a href="/Home/Index">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="">Jobs by Category</a></p>
            </div>
        </div>
    </div>
</section>

<section class="post-area section-gap">
    <div class="container">
        <div class="row">

            @foreach (var item in Model.categories)
            {
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="box-item-single text-center">
                        <h5 class="title"><a href="javascript:void(0)" data-cat_id="@item.id" data-id="cat_details" id="cat_details"> @item.name</a></h5>
                       
                            <span class="count">(@item.count)</span>
                       
                        </div>
                </div>
            }
                

              
                
                
            </div>
    </div>
</section>

<script>
    $(document).ready(function () {

        $(document).on('click', '#cat_details', function () {
            var Id = $(this).data('cat_id');
            window.location.href = "@Url.Action("CategoryByJobListing", "Job", new {id = "Id"})".replace("Id", Id);
            
        });
    });
</script>